.container {
  position: relative;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  width: 350px;
  border: 1px solid gray;

  .inner {
    display: flex;
    flex-flow: column nowrap;

    gap: 1.5rem;

    .controls {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      z-index: 2;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
    }

    .imgContainer {
      position: relative;
      width: 100%;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .heading {
      font-size: 1.4rem;
      font-weight: 600;
    }

    label {
      width: 100%;
      font-size: 1rem;
      padding: 5px;
      display: flex;
      flex-flow: column nowrap;
      font-size: 1.2rem;
      input,
      textarea {
        border: 1px solid black;
        padding: 0.5rem;
      }

      input {
        outline: none;
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem;
        background: transparent;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type="number"] {
        appearance: textfield;
        -moz-appearance: textfield;
      }

      textarea {
        resize: none;
        overflow: hidden;
        width: 100%;
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem;
        background: transparent;
        outline: none;
      }
    }

    .overlay {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
      color: white;
    }

    .submitBtn {
      height: 2rem;
      color: black;
    }
  }
}
