@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Zen+Loop:ital@0;1&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  background: transparent;
  font-weight: 300;
}

img {
  display: block !important;
}

a,
button {
  &:focus,
  &:active {
    outline: none;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-size: 3rem;
}
